@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
:root
{
  --hologramColor:rgb(0, 174, 255,0.7);
  --hologramColorLight:rgba(29, 203, 255, 0.7);
  --hologramColorText:rgb(147, 230, 255);
  --hologramBlueColor:rgba(49, 3, 255, 0.7);
  --purpleColor:rgba(255, 0, 255, 1);
  --purpleColorOpacity:rgba(255, 87, 255, 0.5);
  --blueColor:rgba(49, 3, 255, 1)
}


html
{
  background: url("/sky.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Orbitron", sans-serif;
}
.box-container
{
  max-width: 1500px;
  margin: 0 auto;
}
.flex-wrap
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.memory-game
{
  background-color: rgba(0,0,0,0.5);
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
section
{
  width: 100dvw;
  height: 100dvh;
}
.hologram-box
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 80%;
  margin: 0 auto;
  background: var(--hologramColor);
  border-radius: 20px;
  box-shadow: 0 0 10px 10px var(--hologramColorLight);
}
.logo
{
  max-width: 500px;
  margin: 0 auto;
}
.logo img
{
  width: 100%;
  filter: contrast(0.5) brightness(4);
  mix-blend-mode: color-dodge;
}
.btn 
{
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover
{
  scale:1.1;
}
.start-btn
{
  color:var(--hologramColorText) ;
  text-shadow: 0 0 10px var(--hologramColor);
  transition: all 0.3s ease;
}
.start-btn:hover
{
  color: #fff;
}
.title
{
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}
.gamescreen .hologram-box
{
  background: var(--hologramBlueColor);
  box-shadow: 0 0 10px 10px var(--hologramBlueColor);
  border:solid 4px var(--purpleColor);
  min-height: 100%;
  position: relative;
  top: -50px;
}
.card
{
  max-width: 200px;
  background: rgb(80, 2, 206);
  border: solid 5px var(--purpleColor);
  box-shadow: 0 0 10px 5px var(--purpleColorOpacity);
  text-align: center;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
  transition: all 0.8s ease;
}
.card-image img
{
  max-width: 70%;
  padding: 20px;
  margin: 0 auto;
}
.card-content
{
  background: var(--purpleColor);
  padding: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  transform: rotate3d(0, 20, 0, 180deg);
}
.reverse-card
{
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--blueColor);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.5s ease;
  transition: opacity 0.5s ease;
  z-index: 2;
}
.reverse-card:hover
{
  background: var(--purpleColor);
}
.flipped
{
  transform: rotate3d(0, 20, 0, 180deg);
}
.flipped .reverse-card
{
  opacity: 0;
}

.modal-container
{
    position: relative;
    width: 85%;
    max-width: 1200px;
    background: var(--hologramColor);
    border-radius: 15px;
    padding: 50px;
}
.modal-container .close
{
    position: absolute;
    top: -40px;
    right: -40px;
    font-weight: bold;
}
.modal-container .reverse-card
{
  display: none;
}
.modal-container .card
{
  max-width: 400px;
}
.modal-container .card-image
{
   margin: 50px 0;
}
.modal-container .card-content
{
  transform: inherit;
}
.header
{
  width: 100%;
  height: 100px;
  background-color: var(--purpleColor); 
  clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 60% 60%, 58% 100%, 42% 100%, 40% 60%, 0% 60%);
  z-index: 99;
  text-align: center;
}




@keyframes slideUp {
    0% { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
@keyframes slideDown {
    0% { transform: translateY(100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .animate-slide-up {
    animation: slideUp 1s ease forwards;
  }
   .animate-slide-down {
    animation: slideDown 0.5s ease forwards;
  }
  .animate-fade-in
  {
     animation: fadeIn 0.6s ease forwards;
  }